body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #01093e;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    color: white;
    padding-top: 5px;
}

h2 {
    font-size: 30px;
    color: white;
    padding-top: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar {
    width: 215px;
    position: fixed;
    top: 5%;
    left: 0;
    background-color: #031a61;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .25);
    border: 2px solid;
    border-radius: 16px;
    border-style: outset;
}

.content {
    margin-left: 220px;
    padding: 20px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.elemento {
    color: white;
    display: block;
    margin: 25px;
    padding: 10px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #031a61;
    border: 2px solid;
    border-radius: 16px;
    border-style: outset;
}

.titulo {
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.2;
}

.definicion {
    font-size: 1.8vw;
    line-height: 1.4;
}

.bloque-codigo {
    background-color: #2d2d2d;
    color: #f4f4f4;
    padding: 15px;
    border: 3px solid;
    border-radius: 16px;
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
    display: block;
    white-space: pre-wrap;
    box-sizing: border-box;
}

.topbar {
    display: flex;
    align-items: center;
    background-color: #031a61;
    padding: 10px 20px;
    color: white;
    border-bottom: 3px solid #020b45;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 16px;
    border-style: outset;
}

.topbar .logo {
    height: 50px;
    width: auto;
    margin-right: 15px;
    border-radius: 8px;
}

.encabezado-texto h1 {
    font-size: 28px;
    margin: 0;
}

.encabezado-texto h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    opacity: 0.9;
}

footer {
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 20px;
}

.centrado {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.formulario {
    background-color: #112d83; 
    color: white; 
    border: 2px solid;
    border-radius: 16px;
    border-style: outset;
    padding: 16px;
    max-width: 400px;
    margin: 15px auto; 
    box-sizing: border-box;
}

.titulo-formulario {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}